records.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="records">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" minOccurs="0" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="surname"/>
              <xs:element name="gender">
			  	<xs:simpleType>
		  	    	<xs:restriction base="xs:string">
		    			<xs:pattern value="F|M"/>
		  			</xs:restriction>
				</xs:simpleType>
	      	  </xs:element>
	      	  <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="phone_number"/>
              <xs:element type="xs:string" name="address"/>
	          <xs:element name="level_of_education">
				<xs:simpleType>
		  			<xs:restriction base="xs:string">
		    			<xs:enumeration value="PhD"/>
      		    		<xs:enumeration value="MSc"/>
      		    		<xs:enumeration value="BSc"/>
      		    		<xs:enumeration value="HS"/>
      		    		<xs:enumeration value="PS"/>
		  			</xs:restriction>
				</xs:simpleType>
	      	  </xs:element>
	      	  <xs:element type="xs:string" name="income_level"/>
              <xs:element type="xs:string" name="expenditure"/>
	      	  <xs:element name="currency_unit">
				<xs:simpleType>
    		  		<xs:restriction base="xs:string">
      		    		<xs:enumeration value="€"/>
      		    		<xs:enumeration value="₺"/>
      		    		<xs:enumeration value="$"/>
    		  		</xs:restriction>
 				</xs:simpleType>
	      	  </xs:element>
			  <xs:element type="xs:string" name="currentMood"/>
	     	  <xs:element type="xs:float" name="height"/>
              <xs:element type="xs:byte" name="weight"/>
            </xs:sequence>
			<xs:attribute type="xs:float" name="id"/>
          </xs:complexType>
		  </xs:element>
		</xs:sequence>
	  </xs:complexType>
  </xs:element>
</xs:schema>